langchain
langchain_community
langchain-core


langchain-google-genai
google-generativeai


chromadb
huggingface-hub
langchain-huggingface


unstructured[local-inference]
streamlit
python-dotenv
grandalf